<div class="col-4">
    <aside>
        <div class="mx-5 border rounded p-3 mt-5">
            <h3 class="text-center">Admin</h3>
            <hr>
            <ul class="nav nav-pills flex-column text-center">
                <li class="nav-item border-bottom">
                    <a class="nav-link " href="/">Trang chủ</a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link " href="/sach">Quản lý sách</a>
                </li>
                <li class="nav-item border-bottom">
                    <a class="nav-link " href="/tacgia">Quản lý tác giả</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link border-bottom" href="">Quản lý nhà xuất bản</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="">Quản lý thể loại sách</a>
                </li>
            </ul>
        </div>
    </aside>
</div>